[2017-10-22 21:21] jmettraux opened #1 "Scheduling on tuesday every other week"
Seen first on https://github.com/jmettraux/rufus-scheduler/issues/259

[code]

Eventutally generalize the `/n+m` concept to the already existing `/n` systems.

[2017-10-22 21:28] jmettraux commented on #1
Days (Monday, Tuesday, Wednesday, ...) are not numbers like days (1..31) or hours (0..24). That generalization is not possible.

[2017-10-24 05:20] jmettraux commented on #1
Rather `"0 0 * * tue%2"` or `"0 0 * * tue%2+1"`

[2017-10-25 21:28] jmettraux commented on #1
`0 22 * * Tue%2`  is nice, but when is the "not other Tuesday"? What is the point of reference? "Oh it's the next Tuesday from the start of the schedule", OK, but the scheduler might restart that reference point will change.

We could use the "last_time" in the job, might work, but that implies passing some context to the `#match?` method of the `Fugit::Cron`.

[2018-03-24 11:27] hlascelles opened #2 "Handling timezones in cron lines"
Is the handling of timezones in fugit cron lines planned? (ie, will rufus-scheduler 4.x be compatible with rufus-scheduler 3.x?).

Background: [que-scheduler](https://github.com/hlascelles/que-scheduler) uses fugit to parse cron lines. It was hoped the config file it would mirror the one for [resque-scheduler](https://github.com/resque/resque-scheduler). However fugit doesn't seem to handle timezo

[2018-03-25 02:44] jmettraux commented on #2
Hello,

yes, the handling of timezones is planned. Yes, rufus-scheduler 3.x scheduling should be understood by rufus-scheduler 4.x.

I will work on that since you need it. Thanks for the feedback.

[2018-03-25 22:18] jmettraux commented on #2
Hello @hlascelles

could you please tell me if the changes ending in https://github.com/floraison/fugit/commit/ea7f47a257bd1b0d285c473023e6b721cd1e241b are satisfying for you.

I make sure to store the zone given at the end of the cron line, `#next_time` and `#previous_time` calculate in that zone but make sure to return a `EtOrbi::EoTime` result instance in the "start" zone. For example if your c

[2018-03-26 21:52] hlascelles commented on #2
Builds are passing: https://github.com/hlascelles/que-scheduler/pull/8

Looks good. Thanks!

[2018-03-26 22:36] jmettraux commented on #2
[fugit 1.1.0](https://rubygems.org/gems/fugit/versions/1.1.0) just released. We have to give some time for the propagation in the Rubygems mirrors. Please tell me if there is anything wrong with this new version.

Closing.

Thanks again!

[2018-03-26 22:36] #2 closed

[2018-06-28 23:20] jmettraux opened #5 "cron: mon-thu not respected when L (last day of month)"
As reported by @mitnal in https://github.com/jmettraux/rufus-scheduler/issues/270

[code]

gives:
[code]

The second result is wrong. It should give 2018-07-31 08:00:00 +0200 instead (like rufus-scheduler 3.4.2 did).

[2018-06-29 01:55] jmettraux commented on #5
Actually, I am wrong. The new implementation, in fugit, is right and follows `man 5 crontab`

[code]

Thanks anyway.

[2018-06-29 01:57] #5 closed

[2018-07-11 06:22] jakemack opened #6 "Don't double cron matches when getting out of DST"
Fugit::Cron does not handle the edge cases of daylight saving time.

`Fugit::Cron.new("0 0 * * * America/New_York").brute_frequency` shows 365 occurrences, which makes sense at one per day for a year. However, `Fugit::Cron.new("1 1 * * * America/New_York").brute_frequency` shows 366 occurrences (since 1:01 a.m. occurs twice when moving the clock backwards) and `Fugit::Cron.new("1 2 * * * America/N

[2018-07-11 06:32] jmettraux commented on #6
Hello,

thanks for the suggestion. `#brute_frequency` results are just indicative, none of the downstream libraries use it. As long as DST is respected by `#next_time`, I do not want to invest time in changing that. As it is, it is good for me.

Best regards.

[2018-07-11 06:48] jakemack commented on #6
I can show the same issue using `#next_time` as well. Given a cron that should run every day at 1:59 a.m., `#next_time` will return two times on the same day, depending on when it is measuring from.

[code]

As you can see, the second time is only one hour after the first, both on 2018-11-04.

[2018-07-11 07:12] jmettraux commented on #6
OK, I will investigate that. Give me some time.

[2018-07-11 16:10] jakemack commented on #6
Thanks! If I get some free time to look into it further before you get to it, I'll leave any new findings here.

[2018-07-14 06:28] jmettraux commented on #6
Hello @jakemack,

please have a look at the change I made. Do tell me if it solves the issue. If yes, I will release fugit 1.1.4 with it. If not, we will iterate further.

Best regards.

[2018-07-17 16:09] jakemack commented on #6
Thanks for the quick turnaround! I should have time to test today, I'll report back my results once I do

[2018-07-18 18:05] jakemack commented on #6
I ran out of time yesterday but got to it this morning. Everything works as my tests expected! Thanks so much for the speedy solution. I had been putting off upgrading to rufus-scheduler 3 for months and then was sad when I ran into this issue. Now I'm very happy to see the finish line for the upgrade approaching! Feel free to close the issue when you see fit.

[2018-07-18 23:38] jmettraux commented on #6
Thanks a lot, I'll release today then.

I am curious, from what are you upgrading from?

[2018-07-18 23:48] jakemack commented on #6
rufus-scheduler (2.0.24)

[2018-07-18 23:51] jmettraux commented on #6
Thanks again!

[2018-07-18 23:51] #6 closed

[2018-07-19 06:10] jmettraux commented on #1
Use the `next_time(start_time)`'s `start_time`. When it's a Tuesday, it's the other Tuesday else it's next Tuesday.

[2018-07-20 02:48] jmettraux commented on #6
rufus-scheduler 3.5.1 and fugit 1.1.4 released. Thanks!

[2018-07-31 17:49] peterzhu2118 opened #8 "Every x minute is parsed incorrectly for cron"
![image](https://user-images.githubusercontent.com/15860699/43477004-1051d46e-94c8-11e8-962c-f9acf3e26202.png)

`*/55 * * * *` should run once every 55 minutes, but fugit runs it at `x:55` and `x:00`, where `x` is 0-23. In the example above, it's ran at `12:00`, `12:55`, `13:00`, `13:55`, etc. when it should run at `12:00`, `12:55`, `13:50`, `14:45`, etc.

[2018-09-03 17:11] Tolsto opened #9 "Support for timezone offsets"
Do you plan to support timezone offsets in the future?
Currently, the following examples do not work:

[code]

[2018-09-03 21:13] jmettraux commented on #9
Hello,

thanks for pointing that out.

[code]

I can't find `UTC/+11` in the [list of tz database time zones](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) and [TZInfo](https://github.com/tzinfo/tzinfo) doesn't know about it. If you have a need for it, please tell me. (By the way are you on Windows?)

That leaves me `Etc/GMT-11` to enable.

[2018-09-04 05:30] jmettraux commented on #9
Hello @Tolsto,

please tell me if the changes I made fix the issue for you.

If you really need `UTC/+11`, please tell me why you need it.

Thanks in advance.

[2018-09-04 07:04] Tolsto commented on #9
Thanks for the fast reply @jmettraux
You are right, `UTC/+11` doesn't exist. Sorry for the bad example. I'm not on Windows but Linux.
Your new code works for me. However, only for negative offsets. Something like `Etc/GMT+5` still doesn't work.

[2018-09-04 08:30] jmettraux commented on #9
Hello @Tolsto,

my bad. The above commit should solve that.

Thanks for the rapid feedback you gave me.

[2018-09-04 08:36] Tolsto commented on #9
Thank you, I can confirm that it works now. Do you already know when you'll publish the next release that will include this?

[2018-09-04 09:05] jmettraux commented on #9
You're welcome.

I'm thinking about releasing tomorrow, along with an [et-orbi](https://github.com/floraison/et-orbi) accommodation for the same `Etc/GMT+11` and friends. I hope that matches your schedule.

[2018-09-04 10:33] Tolsto commented on #9
:+1:

[2018-09-04 21:57] jmettraux commented on #9
Fugit 1.1.6 is [out](https://rubygems.org/gems/fugit).

Thanks again!

[2018-09-04 21:57] #9 closed

[2018-10-19 13:35] hlascelles opened #10 "Invalid cron (zero day of month) results in unpredictable behaviour"
Trying to create an invalid cron with a 0th day of month "works".

[code]

The resulting object is unusable (especially for `next_time`), but there was no error, and it did not return `nil`.

Should(n't) it do so?

[2018-10-20 03:14] jmettraux commented on #10
Hello.

I prevented that for day of month and also for months themselves (month zero was ok).

Thanks a lot.

Please tell me if you spot other impossibilities and I'll do my best to prevent them.

Please tell me as well if you need a release for that.

[2018-10-20 03:14] #10 closed

[2018-10-21 20:18] hlascelles commented on #10
Fast work, terrific. No release needed for us at the moment, it's good to know the check will be in the next version. Thanks.

[2019-01-02 05:54] w11th opened #11 "Endless loop after call Fugit::Cron#next_time with time zone 'CST'"
**environment:**

- ruby 2.3.3p222
- fugit 1.1.6
- `Time.now.zone` is `CST`(+08:00)

**code:**

[code]

**expected:**

[code]

**got:**

Endless loop

**What I found:**

After some debugging, I thought the method `TimeCursor#inc_mont` doesn't work right in timezone `CST`  (maybe all positive east of UTC timezones).

https://github.com/floraison/fugit/blob/6488c5f4e47ac63a2a5b7f290656a344ff9d2ca9/l

[2019-01-02 06:06] jmettraux commented on #11
Hello, thanks for the very professional issue report.

Could you please tell me what is your operating system?

Could you please try with:
[code]
and tell me how it behaves?

`CST` is too ambiguous as a timezone name. See https://24timezones.com/time-zone/cst Please use `Asia/Shanghai` or something more appropriate.

Please note that "cron.next_time" yields a result in the time zone for its cron.

[2019-01-02 06:40] w11th commented on #11
:My operating system is macOS:

[code]
Here is the output of the code:

[code]
The code in my issue run in the rails console. It seems to work after set `ENV['TZ']`.

Is `ENV['TZ']` a requirement while working in a different time zone?

And the result in part 2 seems to be incorrect, should it be `2020-01-01 00:00:00 UTC`?

[2019-01-02 06:46] jmettraux commented on #11
Hello,

Outside of Windows, that should not be necessary.

What does

`bundle exec ruby -r et-orbi -e "EtOrbi._make_info"`

in your project terminal yield?

Thanks in advance.

[2019-01-02 07:14] jmettraux opened #12 "UTC cron next_time should be a UTC time, not a local time"
[code]

[code]

The second `p cron.next_time.to_s` should be in the UTC timezone.

As seen in gh-11.

[2019-01-02 07:45] w11th commented on #11
[code]

[2019-01-02 22:52] jmettraux commented on #11
Hello,

I've set my Mac to _Changzhou - China_ and tried your code:
[code]

and, as you, I couldn't get it to fail :-(

Fortunately, it works in my _JST_ (_Asia/Tokyo_) UTC+0900 time zone.

<img width="664" alt="screen shot 2019-01-03 at 6 46 56" src="https://user-images.githubusercontent.com/3624/50616506-19f56100-0f2c-11e9-9a24-87d32273defd.png">

I'm going on investigating. Thanks again.

[2019-01-02 22:56] jmettraux commented on #11
@w11th By the way, what version number for your tzinfo gem? what version number your tzinfo-data gem (if you use it)?

Thanks in advance.

[2019-01-03 02:42] w11th commented on #11
Appreciate your help.

My `tzinfo` gem version number is `1.2.5`, and I didn't use the `tzinfo-data` gem.

I found that the code behaves differently in my rails console.

In my rails console, `EtOrbi` parse time with `Chronic` gem:

https://github.com/floraison/et-orbi/blob/ef6b69644c4b19e1c72b87539173f9e87c2f6986/lib/et-orbi.rb#L26

`Chronic` parse the time with `Time` class, and then return a ne

[2019-01-03 02:47] jmettraux commented on #11
I tried to `require 'chronic'` in the example you gave, but still, no loop.

What is the simplest piece of code that you can come up with that shows the problem? Does adding Chronic and/or Active Support shows the problem on your system?

[2019-01-03 02:48] w11th commented on #11
I think the problem is, method `TimeCursor#inc_mont` builds the new time with `::EtOrbi.make(y,m)`. The time zone of cron job wasn't passed to  `EtOrbi`.

[2019-01-03 02:49] jmettraux commented on #11
I would love to find the simplest piece of code that shows the problem so that I can fix it.

[2019-01-03 03:19] w11th commented on #11
[code]

here is my output:

[code]

[2019-01-08 16:30] godfat commented on #11
I am not sure if this is related, but this will freeze indefinitely for me:

[code]

Previously, we're using `refus-scheduler` and `0 0 0 * *` is supposed to be an invalid syntax. This was the test:

[code]

It passed with `refus-scheduler` but it's valid for `fugit`, and calling `next_time` on the cron object will not stop. You can find all the context at [WIP: Update sidekiq-cron 0.6.0 -> 1.0](h

[2019-01-08 22:38] jmettraux commented on #11
Hello @godfat,

could you please give me more details? What does `bundle exec ruby -r et-orbi -e "EtOrbi._make_info"` yield on your platform? What version of Ruby, what operating system?

Thanks in advance.

[2019-01-08 22:41] jmettraux opened #13 "Have a hard stop in Cron#next_time (and #previous_time)"
As seen with @godfat in gh-11.

[2019-01-08 22:42] jmettraux commented on #11
Hello again @godfat,

sorry your issue is simpler. As you mentioned a "day of month" of 0 should not be accepted. I opened gh-13 just for that. No need for further information.

Thank you very much, I will fix that.

[2019-01-08 22:54] jmettraux commented on #13
Duplicate of #10, I should release ASAP.

[2019-01-09 05:41] godfat commented on #13
Awesome, thank you!

[2019-01-10 07:50] jmettraux commented on #11
@w11th

Sorry for taking time on this. I'm cleaning [et-orbi](https://github.com/floraison/et-orbi) since it's where the issue is at. I hope to be finished soon and address your issue directly then.

Kind regards.

[2019-01-11 01:55] w11th commented on #11
It's totally OK. Thank you for your hard working and kindness. 😁

[2019-01-14 03:20] jmettraux commented on #11
Hello @w11th,

could you please tell me if the current fugit (@ commit commit 7791dbb5635ed561894bb3a2335715d53d9298e) (combined with et-orbi 1.1.7) solves the issue for you?

If yes, I'll look at gh-12, solve it and then release fugit 1.1.7.

Thanks in advance,

[2019-01-15 02:48] jmettraux commented on #13
Included in the 1.1.7 release. Many thanks.

[2019-01-15 02:48] #13 closed

[2019-01-15 02:49] jmettraux commented on #11
Fix included in the 1.1.7 release. Many thanks!

[2019-01-15 02:49] #11 closed

[2019-01-15 02:50] jmettraux commented on #12
Planning to fix/change that for the upcoming 1.2.0.

1.2.x since it is changing the way it reacts to explicit timezones.

[2019-01-17 03:41] jmettraux commented on #12
Released as part of 1.1.8

[2019-01-17 03:41] #12 closed

[2019-03-20 22:02] conet commented on #11
@jmettraux are you sure that this is fixed? I'm using `gitlab-11.8.2-ee` and it seems to be stuck in this loop:
[code]

[2019-03-20 22:24] jmettraux commented on #11
Hello @conet,

what is gitlab-11.8.2-ee? Never heard of it.

Please give me the shortest piece of code that shows this behaviour.

Please give me as well the output of `bundle exec ruby -r et-orbi -e "EtOrbi._make_info"` in your project/system.

Thanks in advance.

[2019-03-21 05:11] godfat commented on #11
@jmettraux It's https://gitlab.com/gitlab-org/gitlab-ee/tree/v11.8.2-ee

@conet What's the cron pattern you're using?

[2019-03-21 06:50] godfat commented on #11
Cross referencing the GitLab issue, which has more information: https://gitlab.com/gitlab-org/gitlab-ce/issues/59273

[2019-03-21 06:57] jmettraux commented on #11
Thanks @godfat !

I am opening a new issue, I think it has nothing to do with the original issue here. Stay tuned.

[2019-03-21 07:15] jmettraux opened #15 "endless loop dealing with cron "seconds" string"
@conet hijacked the closed issue gh-11, challenging the fix there, but provided nothing that supports his accusation.

In fact, there is a source issue report at:
https://gitlab.com/gitlab-org/gitlab-ce/issues/59273

OP adds:

[code]
In other words: "5 * * * * *" means "every time the second hand hits the 5".

Sidekiq-cron allows for second crons (see https://github.com/ondrejbartas/sidekiq-cron/p

[2019-03-21 07:23] godfat commented on #15
Thank you for looking into this! (I can't reproduce the issue by myself)

[2019-03-21 07:28] jmettraux commented on #15
@godfat you're welcome! If it's my code, I have to fix it :-)

[2019-03-21 08:17] conet commented on #15
I just got online, I've managed to add a log statement in gitlab:
[code]

to get the time value going into:
[code]
that is causing this, I'm waiting for the results.

To answer the endless loop related question: by endless loop I mean that, based on successive stacktraces it seems like the code is stuck in the loop in `previous_time`.

[2019-03-21 08:28] jmettraux commented on #15
@conet thank you very much.

Could you please answer my second question?

@jmettraux wrote:

[2019-03-21 09:12] jmettraux commented on #15
@conet's traces (a bit truncated):
[code]

[code]

@conet, are you somehow killing the thread to get those WARN messages? The outcome is different each time (I think I start to understand your "it seems in a loop" statement).

[2019-03-21 09:46] jmettraux commented on #15
Meanwhile, built a small project at https://github.com/jmettraux/fugit_gh15 to try and reproduce the issue.

So far, tried to feed an ActiveSupport enhance Time to `#previous_time` but no loop went out of control.

Looking forward to @conet log results.

[2019-03-21 10:42] conet commented on #15
Sorry for the delay here is are my results, @godfat I will need your help to transform the gitlab specific data into fugit specific stuff so that @jmettraux can work with that, first this is the logging I added to gitlab's `should_enque`:
[code]
I restarted gitlab after the change, it was running without issues for a couple of minutes then it entered the endless loop, proven this time by the logs:

[2019-03-21 10:45] godfat commented on #15
@conet I am in the middle of something else, but I can help with this quickly:

[code]

Run this to start a console: `sudo gitlab-rails console` and then run:

[code]

which should print the results.

[2019-03-21 10:46] conet commented on #15
[code]

[2019-03-21 10:49] conet commented on #15
Yes, that is sidekiq's way of getting a stacktrace dumped to the logs, by running:
[code]

[2019-03-21 10:50] jmettraux commented on #15
@conet Thanks for the great feedback! Working on digesting it.

[2019-03-21 11:20] jmettraux commented on #15
@conet, could you please try again with this updated snippet:

[code]

(sorry for the reformatting, I need to wrap my head around sidekiq-cron's API)

[2019-03-21 11:30] conet commented on #15
I applied the patch, waiting for the loop to kick in, usually it takes a couple of minutes.

[2019-03-21 12:12] conet commented on #15
It took a bit longer but here it is:

[code]

I assume that only the last entry is important, if you want more please let me know.

[2019-03-21 13:31] jmettraux commented on #15
A few early observations:

The endless loop is not the one exposed in gh-11 / gh-13. That loop (https://github.com/floraison/fugit/blob/f1e2d002a6f59ca01c87744f2f3c78dc1931f86a/lib/fugit/cron.rb#L186-L215) is happening in `#next_time` while your case occurs around `#previous_time`.

As suggested by @godfat, there is now a breaker in the `#next_time` loop. At the same time, a breaker was added in t

[2019-03-21 13:32] jmettraux commented on #15
@conet,

would you mind testing again with the following patch?

[code]

Thanks in advance.

[2019-03-21 13:48] jmettraux commented on #15
(I'd need two complete `caller` stacks as output in the log, I want to know what calls this `#should_enque` repeatedly, or maybe my hypothesis does not stand)

[2019-03-21 13:53] conet commented on #15
I applied the patch, restarted, waiting for the loop to kick in, in the mean time:
[code]
yields 0 results.

[2019-03-21 14:02] jmettraux commented on #15
@conet wrote:

Please correct me if I am wrong.

As I understand your feedback, your cron job works for a while, until the 'loop' kicks in and sends `#should_enque` to repeat itself in the WARN section of the log. The other jobs remain unaffected.

(What I can't explain myself is why your logs above only show the `#should_enque` for TID-ovgxgte1x, but that might be because you're only showing the

[2019-03-21 14:09] conet commented on #15
The loop is back, this gives no results:
[code]
The last entry was:
[code]
Several consecutive stack traces (extracted only the scheduler thread):
[sidekiq.log](https://github.com/floraison/fugit/files/2992378/sidekiq.log)

[2019-03-21 14:13] conet commented on #15
No, from what I understand `TID-ovgxgte1x` is the scheduler thread which, when operating normally, calls `should_enque` for each job it has (thus producing multiple log entries), but once this loop kicks in, the scheduler thread never goes passed it thus all job processing stops working. That is why I though that only the last log entry is important since that is the one that triggers the endless

[2019-03-21 14:17] jmettraux commented on #15
@conet wrote:

[code]
To me, it seems that this log of yours shows that job processing happens after the `#should_enque` loop kicks in.

[2019-03-21 14:19] conet commented on #15
Well those are the last instances that the scheduler was able to launch, after those no more jobs are launched.

[2019-03-21 14:29] jmettraux commented on #15
OK, so I am completely wrong. Argh.

[2019-03-21 14:32] conet commented on #15
Shouldn't a log statement which prints everything you need to set this up in a minimal demo be enough? I assume that if we have all parameters involved in the `previous_time` call then it should be reproducible with a single statement, right? Could you help me with this log statement, I assumed that the first patch you sent did that but it seems like it didn't.

[2019-03-21 14:41] jmettraux commented on #15
Sorry, I was following a wrong track. I am preparing a new patch.

[2019-03-21 14:42] jmettraux commented on #15
@conet is your Sidekiq-Cron setup logging errors happening in your cron jobs?

[2019-03-21 14:49] jmettraux commented on #15
Could you please try with this:

[code]

[2019-03-21 15:19] conet commented on #15
Yes it does, but the jobs themselves run on a different thread so they should not influence the scheduler.

I'm running your latest version, waiting to see if the issue occurs so that I can send the new logs.

[2019-03-21 15:55] conet commented on #15
Endless loop, no failures:
[code]
no results, the last entry is:
[code]

[2019-03-21 16:03] jmettraux commented on #15
@conet, do we agree that your "ldap_group_sync_worker" job triggers a few times, then goes into the loop?

[2019-03-21 16:25] conet commented on #15
The job does fire a few times but it’s not the job that has the loop but the scheduler that calls `previos_time` which belongs to this project, no matter how bugy the library’s clients are they shouldn’t be able to trigger an endless loop in the library. It might be that there is no endless loop but many calls to `previos_time` but I don’t see that based on the logs and the code, then again I have

[2019-03-21 17:09] jmettraux commented on #15
I do understand that the scheduler thread ends up in the loop, but the loop happens in a method in the job's cron instance. When the scheduler tries to determine if it has to enqueue the job, it queries the job about that, it doesn't trigger the job. I do understand that.

What I am suspecting is `#previous_time` running OK most of the time, then choking on something. The choke probability seems t

[2019-03-21 18:02] godfat commented on #15
Thank both of you trying to get to the bottom of this!

This really looks bizarre and I did try to look at relevant code mentioned in https://github.com/floraison/fugit/issues/15#issuecomment-475229163 and I almost wanted to ask if it keeps re-enqueuing the same thing over and over, but after looking at it closer I don't see why that will happen, so in the end I didn't ask that.

I actually starte

[2019-03-21 18:03] conet commented on #15
This is how it looks on 11.8.3:
[code]

[2019-03-21 18:16] conet commented on #15
I have to tell you that I'm in almost the same position, devoting free time to this just to make sure others will not go through the same problems as I did, with the only difference that I don't maintain any of the involved projects.

Remember this is solved for me with the upgrade to `11.8.3-ee` and based on the monitoring data it appeared around march the 14th (I'm not sure that because I upgrad

[2019-03-21 18:21] conet commented on #15
Please help me with some log statements to debug what is going on in `cron.rb`'s `previous_time` log iterations, dump state, whatever helps, there is no such thing as a loop which goes on forever without a reason. Better to look directly at the core of the problem than scratching the edges.

[2019-03-21 18:39] conet commented on #15
I just updated my comment, it wasn't 11.8.3 that fixes stuff but changing the cron's precision, I was already running 11.8.3, [see this comment](https://github.com/floraison/fugit/issues/15#issuecomment-475183385).

[2019-03-21 21:36] jmettraux commented on #15
OK, that's great, let's go on working together.

Sorry, I can only remember what is written here and at https://gitlab.com/gitlab-org/gitlab-ce/issues/59273. Thanks for clarifying that because I was working with the `"5 then 4 or 5 stars" on 11.8.2-ee only` case. Mostly because of this [comment](https://gitlab.com/gitlab-org/gitlab-ce/issues/59273#note_152735309).

That's a very important piece of

[2019-03-22 01:44] jmettraux commented on #15
Hello,

could you please use the following monkey patch and try again? https://gist.github.com/jmettraux/5e998fa0ed4981e4239243a034903bb0

I guess, @godfat will certainly correct me, that it can be placed at the end of https://gitlab.com/gitlab-org/gitlab-ee/blob/v11.8.3-ee/config/initializers/sidekiq.rb to take effect after restart.

It should emit a log warn entry every 10_000th iteration in the

[2019-03-22 02:20] jmettraux opened #17 "test gitter issue integration"
carry on...

[2019-03-22 02:21] #17 closed

[2019-03-22 05:56] conet commented on #15
Finally, here's the current end, because it goes on and on:
[code]

and the beginning:
[code]

[2019-03-22 05:57] conet commented on #15
`ti1 - ti` seems to be different, I hope you can figure out why...

[2019-03-22 05:58] conet commented on #15
Anyway, it seems like an number of iteration based circuit breaker would be a much safer idea.

[2019-03-22 06:01] jmettraux commented on #15
Yes, I need to find the right max number (quick to reach and safely irrealist).

[2019-03-22 06:05] conet commented on #15
I'd go with a value that would limit the call to under a couple of seconds on an idle CPU, better fail in some strange situation than never return.

[2019-03-22 06:12] jmettraux commented on #15
You're giving me another idea: a simple timeout, whatever the iteration count, whatever the distance in time, if it takes too long, let's fail.

Still I have to determine why -1 turns into -0.

[2019-03-22 06:17] conet commented on #15
Yeah but that has the disadvantage that it might mean more or less iterations depending on various factors including current load so it might actually make this more unpredictable, even if you figure out why -1 turns into -0 (some type overflow? is that possible in ruby?) I'd still add a fixed number of iteration. Something like that `41 years and a few days... there wont'be a next or a previous t

[2019-03-22 06:44] jmettraux commented on #15
OK, installing a `v11.8.3-ee` on Debian 9.8.0. I'll use the `.deb` at https://about.gitlab.com/install/

Anything I should be aware of?

[2019-03-22 06:54] conet commented on #15
Yeah, in order to avoid using EE specific cron jobs which might need a license I would add one of [these jobs](https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template#L88) in the config with a cron definition like `10 * * * * *`.
After starting follow this log file for cron related logs:
[code]
If you apply your last patch the logs will show up in t

[2019-03-22 06:55] jmettraux commented on #15
Thank you very much.

[2019-03-22 08:06] jmettraux commented on #15
I have it running, I can see the logs exactly as you indicated.

I am all set up. Let's see.

[2019-03-22 08:46] jmettraux commented on #15
@godfat @conet I can put my finger on it:

[code]

It was right under my nose. `#previous_time` called within a "matching second".

I will fix that and I will place a better breaker system just as discussed above.

Thanks to both of you for the patience and the guidance.

[2019-03-22 09:19] conet commented on #15
Now that you mention the `match_second` part I do recall seeing in on the top of the stack trace often, I'm glad we got to the bottom of it, thanks for your support.

[2019-03-22 10:20] godfat commented on #15
Wow thank you both so much to get to the bottom of this! Very impressive debugging process. Sorry I didn't try to jump in because apparently I didn't exactly follow the reasoning, and I still don't really understand what went wrong.

I can provide some general ideas though.

@jmettraux In general I think breaking on counting iterations is better than time based approach though, because what @conet

[2019-03-23 02:19] jmettraux opened #18 "cron #previous_time loop breaker issue"
## Issue description

A clear and concise description of what the issue is.

## How to reproduce

[code]
produces:
[code]

## Expected behaviour

Expected something like:
[code]

## Context

[code]

## Additional context

None.

[2019-03-24 05:49] #18 closed

[2019-03-25 05:12] jmettraux commented on #15
Hello @conet,

if you had the time to confirm the issue is fixed. That'd be great.

The fixed fugit has been running for 8 hours on my GitLab enterprise instance and I see no issues, no endless loops. (I just dropped the updated https://github.com/floraison/fugit/blob/b50bbfdb243f4ce4e8ce0d966eab25c6833ab594/lib/fugit/cron.rb file over the defective one).

If the fix is confirmed, I will release f

[2019-03-25 08:37] conet commented on #15
Since I scraped my test instance after you managed to reproduce it I was looking today for an easier way to do it, if you have docker installed here's a one-liner:
[code]
Let it run a while, the endless loop will kick in (check cpu usage in the container), now that I managed to reproduce it this way, I will give your fix a try.

[2019-03-25 14:58] conet commented on #15
After several hours running the above container with your fix, the endless loop haven't kicked in, I'd say that the issue can be closed.

[2019-03-25 21:48] jmettraux commented on #15
Hello @conet and @godfat,

I have released [fugit 1.1.9](https://rubygems.org/gems/fugit).

Thank you very much! If there is anything wrong, please tell me!

Special thanks to @conet for fighting for his case and pushing fugit in the right direction!

[2019-03-25 22:18] #15 closed

[2019-03-26 08:46] godfat commented on #15
Thank you all! I created a merge request to update Fugit in GitLab: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/26579

[2019-04-08 11:46] thisismydesign commented on #1
Is there a workaround for this currently available?

[2019-04-08 14:38] jmettraux commented on #1
Hello @thisismydesign,

this issue is about extending the cron syntax supported by fugit.

For when do you need that? In what context are you using fugit?

[2019-04-08 14:45] thisismydesign commented on #1
Hey @jmettraux,

My use case is bi-weekly dynamic scheduling with `resque-scheduler`.

`resque-scheduler` uses `rufus-scheduler`, which uses `fugit` if my understanding is correct. Got here by the issue you referenced above: https://github.com/jmettraux/rufus-scheduler/issues/259

Our timeframe for this is pretty short but I'd be happy to come back and use this feature when available.

[2019-04-08 14:50] jmettraux commented on #1
@thisismydesign,

you can easily implement it by yourself in your Resque-Scheduler job implementation, skip the job if its last trigger time was less than 13 days ago.

I'll try to work on the fugit feature itself tomorrow, I've got an idea on how to make it tick.

[2019-04-08 15:10] thisismydesign commented on #1
Thanks. Yep, that's the workaround in mind. I think the version dependencies are open-ended so theoretically, I could use this as soon as you can release. Do you foresee any other changes that would need to be done for the other gems? (not sure how involved you are with resque-`scheduler`)

[2019-04-09 11:44] jmettraux commented on #1
Hello,

I made good progress on that today, but on its [et-orbi](https://github.com/floraison/et-orbi) side. I'm fighting timezone tests on Windows.

I will continue tomorrow. Hopefully I can implement the proper fugit part of the solution.

[2019-04-11 06:58] jmettraux commented on #1
Good morning @thisismydesign, if you could have a look at the implementation, that'd be much appreciated.

[2019-04-11 08:05] thisismydesign commented on #1
Thank you @jmettraux, looking at the syntax it makes sense and would be great for us.

[2019-04-11 09:01] jmettraux commented on #1
OK, I will then release tonight or tomorrow.

Thanks a lot.

[2019-04-11 09:10] thisismydesign commented on #1
Thank you!

[2019-04-12 03:29] jmettraux commented on #1
It's in today's fugit 1.1.10 release.

[2019-04-12 03:29] #1 closed

[2019-04-21 08:21] jmettraux opened #19 "accept "/15 * * * *" and friends"
As seen in https://github.com/resque/resque-scheduler/issues/649

Crontab Guru [rejects it](https://crontab.guru/#/15_*_*_*_*) but it seems like 7 persons thumbed the Resque-Scheduler issue, so it must be common somehow.

Let's [accept it](https://en.wikipedia.org/wiki/Robustness_principle).

[2019-04-21 22:46] jmettraux commented on #19
Part of 1.2.0 release.

[2019-04-21 22:46] #19 closed

[2019-04-23 10:29] nulian opened #20 "cron #next_time loop breaker issue"
I know it's an invalid date and I'm happy in latest version it no longer hangs infinitely but your response did say report it.

So minimum reproduce case.

[code]

[2019-04-23 11:01] jmettraux commented on #20
@nulian Thank you very much!!

[2019-04-23 21:49] jmettraux commented on #20
Info gathered, closing. Thanks again!

[2019-04-23 21:49] #20 closed

[2019-05-02 11:37] hspazio opened #21 "too many loops in #next_time/previous_time for invalid dates"
## Issue description

This is again a known issue reporting as per error message. Although the input date is incorrect (e.g. Feb 31st) the `:parse` method returns a valid object and the loop `:next_time` reaches the max number of iterations.

## How to reproduce

[code]
Same issue occurs with all inputs that have month within 1-12 and day within 1-31 but are not valid dates:
* Feb 30th
* Feb 31st

[2019-05-02 12:04] hspazio commented on #21
If this is not an easy fix, how about returning a more explicit error class which is safer to rescue on a production codebase than `RuntimeError`?

[code]

[2019-05-03 01:33] jmettraux commented on #21
gh-20

[2019-05-03 02:20] jmettraux commented on #21
https://crontab.guru/#*_*_31_2_* is valid, crond probably never schedules (and doesn't fail with a RuntimeError).

[2019-05-03 22:40] jmettraux commented on #21
Thanks!

[2019-05-03 22:40] #21 closed

[2019-05-07 07:18] hspazio commented on #21
Thank you @jmettraux! much appreciated your quick turnaround! :)

[2019-05-07 07:21] jmettraux commented on #21
You're welcome :-)

[2019-06-20 13:28] JanStevens opened #22 "Parse::Nat does not accept every 15 minutes"
## Issue description

Attempt to parse `every 15 minutes`

## How to reproduce

Nat seems to be able to parse the simplest cases and also 40 minutes, but throw in 30 minutes or 15 minutes and it fails to parse it (which seems a bit unexpected)
[code]

## Expected behaviour

I expect that it is able to parse every case

## Context

Please replace the content of this section with the output of the f

[2019-06-20 13:49] JanStevens commented on #22
Ha I think I found it, Fugit gets mixed up a bit when just using parse, when I use `Fugit::Nat.parse` it always works as expected

[2019-06-21 13:34] jmettraux commented on #22
Hello, thanks for reporting this.

you can also do:
[code]

[2019-06-21 13:55] jmettraux commented on #22
Released as part of fugit 1.2.2.

Thanks again!

[2019-06-21 13:55] #22 closed

[2019-06-26 06:03] darwin67 opened #23 "[feature request] cron syntax validation"
## Issue description

It would be great to have a method like `.validate` that can validate and check if the syntax of the cron string is correct.

## How to reproduce

N/A

## Expected behaviour

N/A

## Context

I want to store the cron string into the database and use it later for checking purposes.
So it would be great if I can do some validation with the string before saving it.

## Additiona

[2019-06-26 09:00] jmettraux commented on #23
Hello,

you can easily achieve that with:
[code]

If you have any question or suggestion, they're welcome.

Best regards.

[2019-06-26 09:00] #23 closed

[2019-06-27 03:12] darwin67 commented on #23
Thanks!

[2019-07-11 14:22] shaicoleman opened #24 "Parse::Nat with 24h times doesn't parse correctly"
[code]
Running Fugit 1.2.2 / Ruby 2.6.3 / Ubuntu 18.04

[2019-07-11 14:31] shaicoleman opened #25 "Feature request: parse_nat weekday ranges"
Would be handy to have weekday ranges, e.g. instead of:
`every Mon,Tue,Wed,Thu,Fri at 18:00`, have the option to write
`every Mon-Fri at 18:00` or
`every Mon to Fri at 18:00`.

[2019-07-11 23:24] jmettraux commented on #24
Ambiguity, "every day at 18:15 and 20:30".

[2019-07-11 23:47] jmettraux commented on #24
Thanks for reporting that. I'm thinking about how to solve the ambiguity. Once it's solved, I'll close the issue.

Best regards.

[2019-07-15 00:01] jmettraux commented on #25
Thanks!

[2019-07-15 00:01] #25 closed

[2019-07-22 22:12] jmettraux commented on #24
Closing.

[2019-07-22 22:12] #24 closed

[2019-07-23 09:00] shaicoleman opened #27 "parse_nat with weekday ranges doesn't parse correctly"
[code]

[2019-07-23 09:19] jmettraux commented on #27
@shaicoleman would it actually hurt you to say thanks for #24 and #25 ?

[2019-07-23 09:30] shaicoleman commented on #27
No, it wouldn't. Thanks for everything, your work is truly appreciated.

[2019-07-23 09:33] jmettraux commented on #27
You're welcome, thanks for the great feedback!

[2019-07-23 10:51] jmettraux commented on #27
I have to fix that as well for cron`"0 19 * 11-3 0"` and `"0 19 * nov-mar 0"`.

[2019-07-23 15:28] shaicoleman opened #28 "Fugit::Nat.parse with multi: :fail returns an array"
When specifying `multi: :fail`, the expected behaviour is not to return an array

[code]

Thanks again for everything

[2019-07-23 20:56] jmettraux commented on #28
Oh, excellent! Thanks, I will fix that.

[2019-07-24 10:46] shaicoleman opened #29 "Fugit::Nat.parse with different times in the same hour not parsed as single cron"
[code]

Thanks again

[2019-07-24 14:54] jmettraux commented on #29
Thanks a lot!

[2019-07-26 04:19] jmettraux commented on #28
Closing. Please tell me if there is anything wrong with the fix. Thanks again!

[2019-07-26 04:19] #28 closed

[2019-07-27 02:55] jmettraux commented on #27
Closing, I think I got it covered, I also had a look at the other possible ranges and added specs for them, and fixed the ones that were broken.

[2019-07-27 02:55] #27 closed

[2019-07-27 05:02] jmettraux commented on #29
I'm closing this issue. Please tell me if you spot any further issue.

The fix is included in the [1.3.1 release](https://rubygems.org/gems/fugit/versions/1.3.1) I've just pushed.

Many thanks for discovering all those cases, it's much appreciated!

[2019-07-27 05:02] #29 closed

[2019-08-13 18:57] ticky opened #30 "Invalid “hours” in range cause cron #next_time loop breaker issue"
## Issue description

Values outside 0-23 in an hour range cause an infinite loop error.

## How to reproduce

[code]

[code]

## Expected behaviour

The “24” being out of range should either result in a parsing error or being treated as 0.

## Context

Please replace the content of this section with the output of the following commands:
[code]

## Additional context

Encountered via in-the-wild u

[2019-08-13 21:04] jmettraux commented on #30
Note in passing:

https://crontab.guru/#*_0-24_*_*_* says `24` is not in the allowed range.

[2019-08-13 22:09] jmettraux commented on #30
Already accepting `24` on its own, https://github.com/floraison/fugit/blob/12a2faabc1d5f66fc8b4c8c3795d6b32c154ac2d/spec/cron_spec.rb#L50 so have to be lenient.

[2019-08-14 05:28] jmettraux commented on #30
Released as part of fugit 1.3.2.

https://rubygems.org/gems/fugit/versions/1.3.2

Please tell me if there is anything wrong.

Many thanks with this issue report.

[2019-08-14 05:28] #30 closed

[2019-08-14 22:46] ticky commented on #30
Thanks for the quick fix! Looking good 😄

[2019-08-29 09:51] jmettraux opened #31 "Timezone seems ignored in cron.match?"
As originally reported by @assembler in https://github.com/floraison/et-orbi/issues/21

[code]

[2019-08-29 10:31] jmettraux commented on #31
@assembler If the fix above is good for you (it seems to you), then I'll release Fugit 1.3.3 with the fix included.

Thanks in advance.

[2019-08-29 11:49] assembler commented on #31
I have tested it and it seems to be working fine. Thanks for fixing it so quickly!

[2019-08-29 11:56] jmettraux commented on #31
I've justed pushed [Fugit 1.3.3](https://rubygems.org/gems/fugit) to RubyGems. You're welcome!

[2019-08-29 11:56] #31 closed

[2019-09-04 18:49] christianfl opened #32 "[Documentation] Regex for crontab notation"
Hi,

I'm working on a frontend which lets the user input a crontime to generate a cronjob for sidekiq-cron in the backend.

I'm validating the string backend-wise with your validate method but do you maybe have a regex for doing the validation in the frontend, too? A good documentation which cron string is allowed would also work, of course.

Typical cron regexes didn't work because of your option

[2019-09-04 18:56] jmettraux commented on #32
Hello,

I don't have a regex, sorry.

I don't really have a documentation, but there's the [cron parser](https://github.com/floraison/fugit/blob/b6dea6a4ff1e9f43f45ee80d6acb0a825b507f71/lib/fugit/cron.rb#L592-L688) itself. It's using [raabro](https://github.com/floraison/raabro) like the other parsers in fugit.

I hope this will help you.

I am closing the issue but not the conversation. Best rega

[2019-09-04 18:56] #32 closed

[2019-09-30 09:15] zhangyonguu opened #33 "Fugit::Cron previous_time method bug"
Hi, there:

  I was in +8 timezone, I exec the following statement in rails console:
 ```Fugit::Cron.parse('0 16 30 9 *').previous_time.to_local_time```

and I got the following error:
`RuntimeError: too many loops for "0 16 30 9 *" #previous_time, breaking`

Also, the same error occurred when I exec:
 ```Fugit::Cron.parse('0 16 31 10 *').previous_time.to_local_time```

I guess that when the cron

[2019-09-30 09:17] jmettraux commented on #33
@zhangyonguu Hello, could you please update your issue to indicate what version of fugit and what version of Ruby you are using? Thanks in advance.

[2019-09-30 09:21] jmettraux commented on #33
@zhangyonguu Oh, one more thing. Could you please give me the output of the three following commands on your system and in Rails project?

[code]

Thanks in advance!

[2019-09-30 09:22] zhangyonguu commented on #33
[code]

[2019-09-30 09:25] jmettraux commented on #33
Ah, then could you please upgrade your fugit version to the latest which is 1.3.3 (https://rubygems.org/gems/fugit/versions/1.3.3). It should fix the issue.

According to the https://github.com/floraison/fugit/blob/master/CHANGELOG.md it should be fixed at 1.1.9.

Please tell me how it turns out. Thanks in advance.

[2019-09-30 09:30] zhangyonguu commented on #33
@jmettraux , yes, it works! Thank you!

[2019-09-30 09:31] #33 closed

[2019-09-30 09:32] jmettraux commented on #33
You're welcome. Have a good evening!

[2020-03-14 22:08] grosser opened #35 "Cron for first Tuesday of the month does not work"
[code]
the 1-7 constraint is ignored
I got ` "2020-03-17 06:59:00 -0700"` today

[2020-03-14 23:35] jmettraux commented on #35
`"2020-03-17 06:59:00 -0700"` is the right answer.

`man 5 crontab` says:

See also https://superuser.com/questions/428807/run-a-cron-job-on-the-first-monday-of-every-month

I think fugit can help in this way:

[code]
`2#1` and `tue#1` mean first Tuesday (of the month).

Unfortunately this was only documented in the mother project: https://github.com/jmettraux/rufus-scheduler#cronline-notations-sp

[2020-03-15 00:15] grosser commented on #35
thx, this is awesome :)

... I was sure this is a valid syntax since I got it from a "how to do foo
in cron" stackoverflow ... maybe there are different flavors of cron, or it
was just wrong though :)

On Sat, Mar 14, 2020 at 4:35 PM John Mettraux <notifications@github.com>
wrote:

[2020-03-15 22:25] jmettraux commented on #35
Documentation done.

* https://github.com/floraison/fugit#the-first-monday-of-the-month
* https://github.com/floraison/fugit#the-hash-extension

If there is anything unclear, please tell me or patch.

Closing, thanks!

[2020-03-15 22:25] #35 closed

[2020-04-05 10:52] dsander opened #36 "Cron#rough_frequency returns 0 for some cronlines"
Hi 👋 !

## Issue description

Given cronlines that are supposed to run every `x` days, `rough_frequency` returns `0` in some cases while others work as expected (see the examples below).

## How to reproduce

[code]

[code]

## Context

Please replace the content of this section with the output of the following commands:
[code]

[2020-04-05 11:00] jmettraux commented on #36
Hello @dsander, I am curious, is that time pressing? In what context are you using `#rough_frequency`? Thanks in advance!

[2020-04-05 11:14] dsander commented on #36
Hey @jmettraux, it's not urgent at all, we just noticed it when trying to upgrade to a newer `rufus-scheduler` version.

[2020-04-05 22:17] #36 closed

[2020-04-05 22:32] jmettraux commented on #36
Hello @dsander,

I've just released [fugit 1.3.4](https://rubygems.org/gems/fugit/versions/1.3.4), it should include the fix. If not please tell me.

Danke sehr!

[2020-04-06 20:56] dsander commented on #36
Works perfectly, thanks for the quick response and fix as always!

[2020-04-30 19:29] shaicoleman opened #37 "Fugit::Nat.parse('every hour') returns nil"
`Fugit::Nat.parse('every hour')` returns nil
`Fugit::Nat.parse('every day')` incorrectly returns `'0 * * * *'` which is every hour
It would be great if it could handle some common cases without an explicit number.

[code]

[code]

For every day/every week/every month/every year, it should mirror the behaviour of cron, i.e.
[code]
(above taken from `man 5 crontab`)

Thanks!

[2020-04-30 21:49] jmettraux commented on #37
@shaicoleman Thanks for pointing out the incorrect "every day" and for underlining the crontab direction.

I will implement that.

[2020-05-07 07:37] jmettraux commented on #37
@shaicoleman Hello, I've just released [fugit 1.3.5](https://rubygems.org/gems/fugit/versions/1.3.5).

I am closing this issue, but please tell me if there is anything wrong with the change.

Thanks again.

[2020-05-07 07:37] #37 closed

[2020-05-26 07:21] DannyBen opened #38 "Natural cron "every 15th of the month""
## Issue description

Trying to convert natural language to a cron expression that happens every specific day of the month.

Looking at the specs, I see that it was intended, but currently not working?

https://github.com/floraison/fugit/blob/7f4d5296e3e55e6c9853f14457af79d4b3e3a845/spec/nat_spec.rb#L48

Is it planned?

I don't even mind if it will be a little less natural language, like:

- `ever

[2020-05-26 07:24] jmettraux commented on #38
I will implement that. Thanks.

[2020-06-01 01:05] jmettraux commented on #38
@DannyBen Hello, I included your demand into the rework I did for the nat parser. Please tell me if it covers your need and I'll release then. If there are further cases that you'd need, please tell me. Thanks again.

[2020-06-01 04:17] DannyBen commented on #38
Thanks a lot @jmettraux, for being open to it and for the quick update.

I tested the new sentences as defined in the specs against master and they work beautifully.

[2020-06-01 06:18] DannyBen commented on #38
By the way - this release also fixes a bug.

With the current live release, this expression returns an invalid cron instead of `nil`:

[code]

[2020-06-01 06:23] jmettraux commented on #38
OK, great, I'll release in a few hours then. If you spot anything, please tell me.

[2020-06-01 08:49] #38 closed

[2020-06-01 14:45] rafarosa92 opened #39 "undefined method `inject' for nil:NilClass"
## Issue description
undefined method `inject' for nil:NilClass

## How to reproduce

[code]

[2020-06-01 15:01] jmettraux commented on #39
Good day @rafarosa92

[code]
outputs
[code]

[code]

So it works for me.

If you want me not to close this issue, you have to provide me a way to reproduce the problem.

Could you please indicate what OS you are using, what Ruby version you are using, and what fugit version you are using. Those things are requested by the issue template, but are missing from your issue report.

Thanks in advance.

[2020-06-01 15:06] rafarosa92 commented on #39
$ uname - a

Linux pop-os 5.3.0-7648-generic #41~1586789791~19.10~9593806-Ubuntu SMP Mon Apr 13 17:50:40 UTC  x86_64 x86_64 x86_64 GNU/Linux

$ruby --version
ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]

$bundle list

Gems included by the bundle:
  * actioncable (6.0.3.1)
  * actionmailbox (6.0.3.1)
  * actionmailer (6.0.3.1)
  * actionpack (6.0.3.1)
  * actiontext (6.0.3.1)
  * a

[2020-06-01 15:12] jmettraux commented on #39
Just tested on the same system but with fugit 1.3.5 as you do, and I can't see your error. It works as well.

[2020-06-01 15:21] jmettraux commented on #39
@rafarosa92 Is the error backtrace in your initial report complete? It seems to obfuscate where the `NullMethodError` is actually occurring.

[2020-06-01 15:32] jmettraux commented on #39
Just test on the same system with fugit 1.3.5 and `ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-openbsd6.7]` (close enough to yours). Still successful. Tried both with my program and with irb as you do.

I'm not using Docker, I'm using a plain Ruby "project" with its .ruby-version and its Gemfile, it's at https://gist.github.com/jmettraux/f657b8b17a05de95ba55d5d7345b9e36

I have to go to

[2020-06-01 15:58] rafarosa92 commented on #39
Apparently the error is only within my project, because when I do the test by irb the methods work normally. I'll see what can be, we can close this topic.

Thanks for help!!

[2020-06-01 15:58] #39 closed

[2020-06-01 21:48] jmettraux commented on #39
You're welcome. If you spot anything else related to fugit, please open a new issue.

[2020-06-04 15:33] xs2bharat opened #40 "Does fugit support specifying year in the end of cron string?"
As per cron expression https://en.wikipedia.org/wiki/Cron#CRON_expression, year is allowed as optional value in string?

[2020-06-04 20:05] jmettraux commented on #40
Hello,

no, it does not.

Best regards.

[2020-06-04 20:05] #40 closed

[2020-08-05 02:39] jeromedalbert opened #41 "Problem parsing 'every 12 hours at minute 50'"
## Issue description

`Fugit::Nat.parse('every 12 hours at minute 50').to_cron_s` returns `"50 * * * *"` when it should return `"50 0,12 * * *"`. The hours are getting ignored.

## How to reproduce

[code]

## Expected behaviour

[code]

## Context

[code]

[2020-08-05 04:37] jmettraux commented on #41
Merci, je crois que c'est réparé maintenant. Si non, dis-le moi ici.

Je viens de libérer une version 1.3.7 contenant ce changement.

Si tu remarques quoi que cela d'autre, n'hésite pas à ouvrir une nouvelle issue.

Encore merci et meilleures salutations.

[2020-08-05 04:37] #41 closed

[2020-08-05 05:16] jeromedalbert commented on #41
You fixed this issue so quickly! Merci beaucoup

[2020-08-06 05:10] jeromedalbert opened #42 "Problem parsing 'every day at 8:30'"
## Issue description

- `Fugit::Nat.parse('every day at 8:30')&.to_cron_s` returns `nil` when I think it should return `"30 8 * * *"`.

  It works with `'every day at 08:30'` but not when there is no leading 0.

- `Fugit::Nat.parse('every day at 8:30 pm')&.to_cron_s` returns `nil` when it should return `"30 20 * * *"`.

  Here the problem is that even if you provide a leading zero with `'every day

[2020-08-06 05:42] jmettraux commented on #42
Hello, I think I fixed it. Tell me if you need a 1.3.8 release. Merci beaucoup et meilleures salutations!

[2020-08-06 05:42] #42 closed

[2020-08-06 06:24] jeromedalbert commented on #42
Super, j'ai vérifié tous mes cas d'utilisation et tout devrait marcher maintenant, so if you can cut a 1.3.8 release that would be perfect. Thanks again

[2020-08-06 06:30] jmettraux commented on #42
Hello, I've just pushed 1.3.8 to https://rubygems.org/gems/fugit It should be available soon.

Merci encore !

[2020-09-14 23:58] honglooker opened #43 "Skips four hour increment with UTC on some occasions"
## Issue description

Hi, thanks for making this library, it's been really useful.

We're running into an issue with this cron: `0 8-19/4 * * *`.
We basically want it to run every day from 8am to 7pm with a 4-hour increment, which boils down to 8am, 12pm, and 4pm.

We're having issues when we set the timezone to `America/New_York`, but have the system time in `UTC`.
If we query for the `next` time

[2020-09-15 00:14] jmettraux commented on #43
Hello @honglooker,

thanks for the detailed error report, I'll be looking into it soon.

As a workaround, would the simplified `"0 8,12,16 * * * America/New_York"` work for you?

[2020-09-15 02:52] jmettraux commented on #43
Notes, in passing:

[code]

[2020-09-15 02:58] jmettraux commented on #43
@honglooker what version of the `et-orbi` gem are you using?

[2020-09-15 04:24] honglooker commented on #43
Hey, thanks for the update.

I tried
[code]
but it still seems to yield: `2020-09-11 20:00:00 UTC`.

My version of et-orbi is .. hmm. I see two lines in the lockfile:
[code]

I want to say `1.2.4` but I am not 100% sure.

[2020-09-15 04:28] jmettraux commented on #43
@honglooker it's `1.2.4` indeed, thanks a lot!

[2020-09-15 04:29] honglooker commented on #43
No prob! :)

[2020-09-15 04:53] jmettraux commented on #43
@honglooker

what does

[code]

yield in your environment?

(It's supposed to look like
[code]
)

Thanks in advance.

[2020-09-15 17:09] honglooker commented on #43
`uname -a`
[code]

`bundle exec ruby -v`
[code]
**Note: Looks like jruby for this `utc_repro.rb` instance is a version behind what I expected. Does not change outcome**

`bundle exec ruby -e "p ENV['TZ']"`
[code]
**Note: nil because I manually set timezone via system settings**

`bundle exec ruby -r et-orbi -e "EtOrbi._make_info"`
[code]
**Note: interesting failure here. Surprised to see a stacktr

[2020-09-15 18:58] honglooker commented on #43
Got it. Had to `bundle clean --force`:
[code]

Thanks again!

[2020-09-15 21:07] jmettraux commented on #43
@honglooker wrote:

Thanks, I wanted to double check that it wasn't set on top of the system settings. EtOrbi and Fugit do follow `TZ` over other zone indicators.

[2020-09-15 21:10] honglooker commented on #43
Gotcha, thanks for clarifying.

[2020-09-16 01:49] jmettraux commented on #43
I think that's the cause of the skip:
https://github.com/floraison/fugit/blob/master/lib/fugit/cron.rb#L254-L258

I'll investigate further during my next break.

[2020-09-16 09:46] jmettraux commented on #43
@honglooker Hello, I think the fix above solves your issue. If you could verify on your side and let me know. Thanks in advance!

[2020-09-16 17:03] honglooker commented on #43
Hey, thanks for the quick fix! I gave it a try:

[code]

I'm getting 16:00, which is 12:00 eastern time -- it works. Thank you for the fast turnaround time!

[2020-09-16 21:41] jmettraux commented on #43
OK, thanks again, I'll release 1.3.9 soon and then close the issue. I'm happy you circled this one.

[2020-09-16 21:43] honglooker commented on #43
Great, thank you!

[2020-09-16 23:46] jmettraux commented on #43
Fugit 1.3.9 is [available](https://rubygems.org/gems/fugit/versions/1.3.9).

Thanks a lot!

[2020-09-16 23:46] #43 closed

[2020-09-16 23:53] honglooker commented on #43
Perfect, much appreciated!

[2020-09-27 18:39] gee-forr opened #44 "Natural parsing for ranges of hours in ranges of days"
## Issue description

Hello there, I'm wondering if fugit supports natural parsing of both days and weeks? We're looking for a way to define blocks of time where people are or aren't available. Below is a simple example.

## How to reproduce

[code]

## Expected behaviour

I was expecting to get a fugit cron object back that looks a little something like this?

[code]

It might not be feasible to

[2020-09-27 19:00] gee-forr opened #45 "Natural parsing for specifying days in the month up to the last day"
## Issue description

Apologies for the issue spamming...

I also need a way to do natural parsing of days of the month up to the last day of the month. I need this because the system I'm building will have users that wish to make themselves unavailable during the last n days of a month where they're closing their financial books off or whatever other things businesses tend to do at the end of the

[2020-09-27 23:04] jmettraux commented on #44
Thanks, maybe it deserves a star.

[2020-09-27 23:22] jmettraux commented on #45
I love the concision of the cron notation.

[2020-09-27 23:38] jmettraux commented on #45
Hello,

Please remember that fugit "nat" is about parsing to `Fugit::Cron` instances, descriptions  of sets of points in time. OK, what you do with the parse result is up to you, but I'd like to keep the fugit domain from leaking too much.

I don't like `"every 25th to the last day of the month"`, I'd prefer `"every day from the 25th to the last"`, could extend into `"every day at noon, from the 2

[2020-09-27 23:45] jmettraux commented on #44
Hello,

thanks for the feature request.

[code]
This isn't a range, it's a parsed cron expression (potential point in time, not ranges in time).

Yes, because it doesn't understand such hour ranges.

`multi: true` is for cases where outputting a single `Fugit::Cron` instance isn't sufficient, for example:

[code]

That I can do, `"* 8-17 * * 1-5"`, monday to friday, every minute from 08:00 to 17:5

[2020-09-28 07:18] gee-forr commented on #44
Hi @jmettraux

Sure - totally understand that cron is about points in time, not ranges. Being able to parse `every weekday 8am to 5pm` would be perfect.

P.S - I always forget about starring projects I use and admire, thanks for the reminder :)

[2020-09-28 07:21] jmettraux commented on #44
Thanks a lot! It helps!

[2020-09-28 07:22] gee-forr commented on #45
Hi @jmettraux,

Sure - I completely appreciate that my particular use case is not the most orthodox use of this gem, or even of cron notation, but being able to allow a user to specify `"every day from the 25th to the last"` as you mention above would be perfect.

Thanks for considering it. I'm happy to submit a PR if you're willing to give me some guidance and pointers on what I should do?

[2020-09-28 07:30] jmettraux commented on #45
I want to give it a try this week. If you haven't heard from me before Friday, give it a try.

[2020-09-30 23:21] jmettraux commented on #45
@gee-forr I'm reworking the fugit nat parser, it's coming along nicely, I hope to be done during the week-end. I hope to include my interpretation of both of your requests. Stay tuned.

[2020-10-05 08:09] gee-forr commented on #45
Hi John,

This is great news - thank you so much. Once again, please let me know if I can help in any way.

--

Gabriel Fortuna gee.forr@gmail.com
On 01 Oct 2020, 01:21 +0200, John Mettraux <notifications@github.com>, wrote:

[2020-10-05 08:25] jmettraux commented on #45
@gee-forr Hello Gabriel,

I'm finishing the rework, especially the `multi:` aspect, then I'm going to do something for gh-44. After that I'll release https://github.com/floraison/raabro 1.4.0 upon which the rework is built. Then I'll release the new fugit 1.4.0.

Any feedback you have meanwhile is welcome, minor remarks or full blown code review.

Cheers

[2020-10-05 09:06] gee-forr commented on #45
I'm only too happy to help in anyway I can. I'll take a look at what you've got in the PR so far. Thanks once again.
--

Gabriel Fortuna
gee.forr@gmail.com

[2020-10-06 00:16] jmettraux commented on #45
Closing, don't hesitate to tell me if something is missing. Best regards.

[2020-10-06 00:16] #45 closed

[2020-10-06 03:14] jmettraux commented on #44
@gee-forr

Hello,

what do you think of this piece of spec:
[code]
?

[2020-10-07 23:22] jmettraux commented on #44
Closing.

[2020-10-07 23:22] #44 closed

[2020-11-30 18:28] ticky opened #47 "cron #previous_time loop breaker issue: modulo plus offset"
## Issue description

I am not fully confident in what the combination of these two syntaxes is supposed to mean, and the +2 syntax isn’t documented fully in the README, but I _believe_ this user input would be interpreted as every odd Tuesday but only after the first two odd Tuesdays of a month? Which seems to mean “never,” and thus warrant an out of range error.

## How to reproduce

[code]

##

[2020-12-01 01:15] jmettraux commented on #47
Thanks a ton for the report!

Give me a few days to ponder a better interception/information. Year end crunch :-(

[2020-12-01 18:06] grosser opened #48 "cron time + DST trouble"
I'm using `Fugit.parse('55 6 * * 2#1 America/Los_Angeles')` for a monthly alert.
This has been alerting fine at 6:55 all the time, but 2020-12-01 it alerted 1 hour early (5:55).
Last time it alerted `Nov 3 at 6:55 AM` which was in DST already, so I'd have expected that to fail and not the December one, but there is a chance it was scheduled before DST kicked in.
I reproduced the issue using `Timec

[2020-12-01 21:14] jmettraux commented on #48
Hello,

quick question, what version of fugit are you using?

[2020-12-01 21:39] grosser commented on #48
1.3.3
.... update all my gems, but results were the same, will deploy that and see if the alert comes early again

[2020-12-01 21:41] jmettraux commented on #48
Thanks.

1.3.9 has a change in the way it deals with DST transition, hence my question. I will test on 1.4.1.

[2020-12-01 22:14] grosser commented on #48
sounds like the bug I saw, I'll report back in a month if it reproduces :)

On Tue, Dec 1, 2020 at 1:42 PM John Mettraux <notifications@github.com>
wrote:

[2020-12-01 22:18] #48 closed

[2020-12-01 23:30] jmettraux commented on #48
Could you please give me the output of

[code]

on your system?

Thanks in advance.

[2020-12-01 23:32] grosser commented on #48
don't work on this, good chance it's done ... will report back if it's not :)

[2020-12-01 23:45] gr8bit opened #49 "NoMethodError when parse'ing empty string"
## Issue description

Parsing an empty string leads to NoMethodError instead of ArgumentError (when using `do_parse`) or `nil` (when using `parse`).

## How to reproduce

[code]

## Expected behaviour

Empty string should parse as invalid cron string, just like `" "` or `nil`.

## Context

[code]

## Additional context

I'm using Fugit in Rails context.

[2020-12-02 00:00] jmettraux commented on #49
Thanks for reporting this!

I think I fixed it. Please tell me if not.

[2020-12-02 00:00] #49 closed

[2020-12-02 00:21] gr8bit opened #50 "Question: how to find the end of the current cron "validity interval"?"
## Challenge description

I'm using the cron syntax not only as an indicator for several points in time but as a duration as well.
E.g. I interpret (and check via `match?(Time.now)`) the following as:
`'10-40 22 * * mon-fri'` indicates "every Monday till Friday between 22:10 and 22:40".
`'* 0 * * mon'` indicates "every Monday between 00:00 and 00:59".
`'* 8 * * *'` indicates "every day between 08:

[2020-12-02 00:47] jmettraux commented on #50
Hello,

@gr8bit wrote:

'* 8 * * *' should return a time of 2020-11-01 08:59:59 (or even 2020-11-01 09:00:00).

I am not sure I follow you on that one. `* 8 * * *` maps to 08:00:00, 08:01:00, 08:02:00, ... , 08:59:00.

Maybe something like

[code]

Closing the issue but not the conversation.

[2020-12-02 00:47] #50 closed

[2020-12-02 00:49] jmettraux commented on #50
@gr8bit Are you a friend of the OP in #44 ?

[2020-12-02 01:00] gr8bit commented on #50
Thanks a lot for the comment! I will look into it right after my answer.

That's right, it maps to the times you stated - so if I use `match?` when the current time is between 08:00:00 and even 08:59:59, it will return `true`. From 09:00:00 on, it will again return `false` until it will be 8:00h again. If I understand correctly, the `next_time` method will point to the next day at 8:00:00 in our e

[2020-12-02 01:06] gr8bit commented on #50
Aaahhh, I think I understood `next_time` wrong - it returns the next minute the cron would run at. If in an "interval" it would just be the next minute. That's why you loop (although I'm not sure why `MAXD` is `366 * 24 * 3600` and not `366 * 24 * 60` - we have only minute (not second) precision, don't we?

[2020-12-02 01:06] jmettraux commented on #50
@gr8bit wrote:

I am sorry but the `Fugit::Cron#match?(time)` method is point based. But nothing prevents you building your own abstraction on top of it that determines given a cron string what are the intervals and has its own `#match?(time)`. As you have seen in my code example, my routine said "let's consider that the longest delta is the delta between two intervals". There isn't much in the cr

[2020-12-02 01:11] jmettraux commented on #50
@gr8bit wrote:

MAXD is one year, because "0 0 1 1 *" happens once per year. I could have gone further to accept "0 0 29 2 *" which happens usually every four years... I was trying to accept not just your example "* 8 * * *" but other cron strings. I wanted to generalize a bit...

[2020-12-02 01:18] gr8bit commented on #50
What a great library. I think I have a very quick way to determine the end of the interval. I'll post code here once it's done. :) Thank you so much for the kind help!!

[2020-12-02 01:28] jmettraux commented on #50
You're welcome!

[2020-12-02 20:36] gr8bit commented on #50
I think I got it. Comments please! :)

At first I've added a simple "change and clone" method to EoTime, I hope you don't mind.
[code]

And the main code for Fugit::Cron:
[code]
It works like this: I need to sample future times until the first point in time the cron does not match. That point in time would be the end of the "interval" I'm in.
I can't sample all seconds of a year though and I don't

[2020-12-02 23:07] jmettraux commented on #50
Well done!

I am not sure about your use case, but I think that if I needed that, I'd wrap it in its own library, a library that uses fugit, not a fugit augmentation. After all, you might decide later on that you want to parse different interval representations like "0800-0900,1500-1600" with which fugit has no business. Your tool would use fugit when presented with a cron string and some other li

[2020-12-03 12:06] gr8bit commented on #50
Thanks and good point. Initially, my code used many more of the internals of Fugit::Cron than it does now. However, I rely on internal method names (for `instance_variable_set` especially), that's why I left it as augmenting code for now (also, because I never intend to change it but we both know: never say never when it comes to software development ;)).

If you're interested in my use case: for

[2020-12-03 12:15] jmettraux commented on #50
@gr8bit thanks for sharing your use case, such pieces of information yield so much learning!

[2021-02-09 17:45] grosser opened #52 "weekday cron does not run today when started before execution time"
fugit 1.4.2

the second Tuesday of the week was today, we started the cron earlier today, but it never executed, because it thinks the next execution is next month and not today ... so seems like the weekday calculation needs to take time of day into account

[code]

[code]

[2021-02-09 21:19] jmettraux commented on #52
[code]
  since 2021-02-02 is a Tuesday.

[2021-02-09 21:52] jmettraux commented on #52
The spec you gave me, when adapted, goes green.

OK, if I look at the initial problem explanation, 2021-02-09 is the second Tuesday of the month, not the first. So I think that fugit is right.

At  2021-02-09 17:41:10, given "55 18 * * 2#1", the next first Tuesday of the month at 18:55 is "2021-03-02 18:55".

Did I misunderstand you?

[2021-02-09 22:00] grosser commented on #52
my initial case was second tuesday, I tried to dumb it down to make the spec simpler 🤦

2021-02-09 17:41:10 + "55 18 * * 2#1", should come out as is "2021-02-09 18:55" since it is currently the second Tuesday and not yet 18:55

[2021-02-09 22:14] jmettraux commented on #52
No, "2#1" means "first Tuesday", not "second Tuesday".

[2021-02-09 22:28] grosser commented on #52
yeah you are correct ... so something happened on the first tuesday and I though it was supposed to come today ... thx for looking into it, sorry for the noise 😞

[2021-02-09 22:28] #52 closed

[2021-03-22 09:34] andyundso opened #53 "Strange behaviour with DST?"
## Issue description

First of all, I'm based in Switzerland. Our clock will change next week to summer time. We use Fugit in a project to allow users schedule background jobs. We have a test suite that has a test where a job should run each week with the instruction `every monday at midnight`. We compare the result of Fugit with an expected value to make sure our scheduler works.

Now, instructin

[2021-03-22 10:20] jmettraux commented on #53
Hello,

thanks for the report. I am working on it.

As a workaround, you could use `"every tuesday at 00:00"` as seen in https://github.com/floraison/fugit/blob/49b66702bc309bcffd8e5d7495dd45f080bf134c/spec/cron_spec.rb#L265-L288

I think I am guilty of interpreting `"every monday at midnight"` as `"every monday at 00:00"`. I need to straighten that.

Now, I still have to double-check, the entranc

[2021-03-23 00:06] jmettraux commented on #53
@andyundso

Hello, could you please tell me if the above fix suits you? If yes, I will release 1.4.3.

[code]

Best regards.

[2021-03-23 09:33] andyundso commented on #53
Good morning @jmettraux

Many thanks for the quick reaction. I tested the master branch with our test and now it works. I think you could release 1.4.3.

Best regards, Andy

[2021-03-23 09:42] jmettraux commented on #53
It's released https://rubygems.org/gems/fugit/versions/1.4.3

Thanks again!

[2021-03-23 09:42] #53 closed

[2021-03-25 07:03] jmettraux commented on #53
@andyundso

Hello,

for the sake of completeness, I added a spec for when leaving the DST (October) and it failed. I have fixed the problem and released 1.4.4. https://github.com/floraison/fugit/commit/550e571d0af076d918459c432bbd850245cf0702

Please upgrade before October.

Best regards.

[2021-04-21 09:35] jmettraux commented on #47
Sorry, I forgot about this one. One of your contractors reminded me of it. I will look into it again.

[2021-04-21 10:31] jmettraux commented on #47
I think I solved the problem. I will release 1.4.5 tomorrow, unless you point me at corner cases I have overlooked.

Please accept my apologies for forgetting your issue.

cc @karensawrey

[2021-04-22 11:30] jmettraux commented on #47
Released [1.4.5](https://rubygems.org/gems/fugit/versions/1.4.5)

Thanks a lot!

[2021-04-22 11:30] #47 closed

[2021-04-22 16:41] karensawrey commented on #47
Thank you, @jmettraux! Highly appreciated! Thank you kindly for working on **fugit** and for dedicating your time to solving this issue.

[2021-04-23 19:22] ticky commented on #47
All good @jmettraux, I very much appreciate your help on these! :)

[2021-06-07 15:15] shqear93 opened #57 ""at 12:00 PM" gives the wrong crontab pattern"
## Issue description

When I parse the string "at 12:00 PM", the result is "0 24 * * *" which is wrong

## How to reproduce

[code]

## Expected behaviour

It should return "0 12 * * *"

## Context

Please replace the content of this section with the output of the following commands:
[code]

[2021-06-07 20:56] jmettraux commented on #57
@shqear93 Thank you very much for reporting that!

I will release 1.5.0 soon.

[2021-06-08 00:13] #57 closed

[2021-06-30 17:00] mscrivo opened #58 "Incorrect #rough_frequency and #brute_frequency for '0 */5 * * *'"
## Issue description

Parsing of the above cron schedule can't seem to be parsed properly:

[code]

Parsing of `0 */3 * * *`, `0 */4 * * *` and `0 */6 * * *`  work fine it seems.

## How to reproduce

See above

## Expected behaviour

Seems like a simple cron schedule like this, should be able to be parsed properly? If neither of these methods work, what other way is there to get an accurate frequ

[2021-06-30 20:39] jmettraux commented on #58
Title was incorrect. Fixed.

[2021-06-30 20:44] jmettraux commented on #58
`0 */5 * * *` means it will run at 00:00, 05:00, 10:00, 15:00, 20:00. There is a 4 hours interval between 20:00 and 04:00. `4 * 60 * 60 = 14_400`.

It parses properly and it gives good enough frequencies.

[2021-06-30 20:44] #58 closed

[2021-08-09 17:04] KarlaLeal opened #59 "cron #next_time loop breaker issue"
## Issue description

A clear and concise description of what the issue is. (There is an example of a carefully filled issue at https://github.com/floraison/fugit/issues/18)

## How to reproduce

The simplest piece of code that reproduces the issue, for example:
[code]
Or else, please describe carefully what to do to see a live example of the issue.

## Error and error backtrace (if any)

(This sh

[2021-08-09 20:59] jmettraux commented on #59
@KarlaLeal

Hello,

I cannot help you if you don't replace the issue template content with the information that the template requests.

If you don't understand the issue template, feel free to remove all the template text and explain in your own words the issue you are facing and I will help you by asking you questions to learn what the real issue is.

For now, I am closing this issue as there is

[2021-08-09 20:59] #59 closed

[2021-08-10 08:10] jmettraux commented on #59
@KarlaLeal

Ah got it.

https://crontab.guru/#0-65_*_*_*_*

Your `"0-65 * * * *"` says `ArgumentError: found no time information in "0-65 * * * *"` and it's the expected behaviour. Replace it with `"0-59 * * * *"`. There are no minute 60, 61, 62, 63, 64, or 65.

Best regards.

[2021-08-17 14:18] Ggallardoh opened #60 "cron #next_time loop breaker issue"
## Issue description

A clear and concise description of what the issue is. (There is an example of a carefully filled issue at https://github.com/floraison/fugit/issues/18)

## How to reproduce

The simplest piece of code that reproduces the issue, for example:
[code]
Or else, please describe carefully what to do to see a live example of the issue.

## Error and error backtrace (if any)

(This sh

[2021-08-17 14:57] jmettraux commented on #60
I can reproduce the issue as well.

[code]

It doesn't happen in the Tokyo timezone, but in the America/Santiago timezone. Ruby 2.7 or Ruby 3.0.
Happens with fugit 1.5.0 and 1.4.5. Doesn't happen with fugit 1.3.9 (see [fugit/versions](https://rubygems.org/gems/fugit/versions)).

@Ggallardoh Thanks for reporting that. I will fix that tomorrow, hopefully. For now you could use fugit 1.3.9 or switch

[2021-08-17 16:27] Ggallardoh commented on #60
We will make the changes you suggested momentarily, and we will be looking forward to the changes.
Thank you!

[2021-08-17 23:27] #60 closed

[2021-08-17 23:36] jmettraux commented on #60
I will release 1.5.1 soon. If there is anything wrong with it, please tell me.

[2021-08-18 00:12] jmettraux commented on #60
fugit 1.5.1 released https://rubygems.org/gems/fugit/versions/1.5.1

[2021-08-19 21:24] jmettraux commented on #60
@javix70 @Ggallardoh @BMunozKlerman Please remember that emojis trigger no notifications for project maintainers. Please consider starring this project if you appreciate my work and my help.

[2021-08-20 00:35] jmettraux commented on #60
Thanks a lot!!!

[2021-09-17 07:21] codez opened #62 "TZInfo::PeriodNotFound exception when using Time.zone"
## Issue description

When using `Time.zone` instead of `ENV['TZ']`, `Cron#next_time` throws a `TZInfo::PeriodNotFound` exception.

## How to reproduce

[code]

## Error and error backtrace (if any)

[code]

## Expected behaviour

The timezone setting in `Time.zone` should be used as fallback when `ENV['TZ']` is nil and the correct output ("2021-09-15 08:00:00 -0300") should be returned.

## Conte

[2021-09-17 08:14] jmettraux commented on #62
Thanks.

Moved to https://github.com/floraison/et-orbi/issues/31

[2021-09-17 09:33] jmettraux commented on #62
The time zone in `Time.zone` is used and it is what is causing the problem in `::TZInfo::TimeZone.local_to_utc`. Back here.

[2021-09-17 11:12] jmettraux commented on #62
https://github.com/codez/delayed_cron_job/issues/30

[2021-09-18 00:20] jmettraux commented on #62
Hello,

I've just released https://rubygems.org/gems/fugit/versions/1.5.2

It solves the issue (at least for me). If you spot anything wrong, please do tell me.

Thanks and best regards!

[2021-09-18 00:20] #62 closed

[2021-09-26 08:24] codez commented on #62
Thank you very much for your work!

[2021-09-26 08:47] jmettraux commented on #62
@codez je t'en prie, merci vielmal again!

[2021-10-29 08:04] jmettraux opened #63 "Incorrect transition into DST for America/New_York"
As pointed at by @harsha-flipp in https://github.com/jmettraux/rufus-scheduler/issues/329

Given the script

[code]

`America/Chicago` yields the result below, which correctly goes into DST and out of it.

[code]

But for `America/New_York`

[code]

Also have to try with `"30 4 * * *"` as OP did.

[2021-10-29 19:45] jmettraux commented on #63
Fix the issue by upgrading et-orbi to 1.2.6.

https://github.com/floraison/et-orbi/commit/6cb646088f20563670cb3aca21df001d0abee2a4

[2021-10-29 19:45] #63 closed

[2021-12-26 21:37] donkeybridge opened #64 "previous_time and next_time produce strange results when combining actual dates with day of week"
## Issue description

I started to search for the next occurence of Feb 29th during weekend, what resulted in _Sat, 2021-02-05_. Further experiments showed a some gap in interpreting cron strings.

## How to reproduce

[code]

At first I was guessing this related to leap day, but unfortunately it got worse:

[code]

## Error and error backtrace (if any)

## Expected behaviour

[code]

## Context

[2021-12-27 01:29] jmettraux commented on #64
From `man 5 crontab`:

[code]

As seen in gh-5 and gh-35.

See also https://crontab.guru/#0_0_29_2_0,6

Not closing yet, I want to investigate
[code]

[2021-12-27 01:38] jmettraux commented on #64
[code]

Same. https://crontab.guru/#0_0_11_*_3-6

I wish you a happy new year!

[2021-12-27 01:38] #64 closed

[2022-02-21 06:59] Raaghulsundar opened #66 "Support character "W" in the cron expression"
## Issue description

Unable to use cron expression 0 0 12 LW * * -> _At 12:00:00pm, on the last weekday of the month, every month_

## How to reproduce

The simplest piece of code that reproduces the issue, for example:
[code]

## Error and error backtrace (if any)

NoMethodError: undefined method `next_time' for nil:NilClass

## Expected behaviour

- Enable W to be accepted in the cron expressio

[2022-02-21 08:14] jmettraux commented on #66
Sorry, but this is non-standard and ambiguous.

Non-standard because I know of no "W" in the crontab "standard" [man 5 crontab](https://www.manpagez.com/man/5/crontab/) and even if I [look at crontab.guru](https://crontab.guru/#0_12_LW_*_*)

Ambiguous because when is the last weekday? Friday, Saturday, Sunday? It depends on the organization.

If you want "at 12:00 on the last friday of the month"

[2022-03-08 11:12] phibid opened #67 "Incorrect schedule in certain timezone when using hash cron extention"
Opening an issue here too after opening it in Gitlab, https://gitlab.com/gitlab-org/gitlab/-/issues/354513, as it seems that Fugit is being used in Gitlab for the cron process.

The use of the cron hash extension don't give the correct schedule in some timezone.
For example, in UTC, 30 18 * * 2#5 will correctly be scheduled the last Tuesday of this month, the 29th.
However, in Paris timezone, it w

[2022-03-08 11:14] jmettraux commented on #67
Hello @phibid, what version of fugit is used by Gitlab?

Thanks in advance.

[2022-03-08 11:34] jmettraux commented on #67
@phibid thanks for reporting that.

I'm seeing the issue with fugit 1.2.1 and the current 1.5.3 pre.

Although it points at the fifth Tuesday of May for me, 2022-05-31 but not the 2022-05-24 you seem to be seeing.

I will attempt to fix that. Give me a few days.

[2022-03-08 11:55] phibid commented on #67
Ah yes sorry, typo, last Tuesday of May being the "May 31, 2022 6:30pm GMT+0200", not the 24th

Thanks !

[2022-03-09 05:51] jmettraux commented on #67
@phibid Please upgrade your et-orbi gem to 1.2.7 and try again. Tell me if it fixes the issue for you.

[2022-03-09 21:46] jmettraux commented on #67
@phibid OK, I saw your added info on Gitlab, I will complement it there.

Closing the issue here. I am ready to re-open it if necessary.

Thanks again!

[2022-03-09 21:46] #67 closed

[2022-04-01 12:40] lstrzebinczyk opened #68 "Fugit::Cron#to_cron_s produces invalid cron string for "wed%2""
## Issue description

My team is creating a bot, which allows people to schedule something with a cron-like string to indicate time interval. We have a bug report which seem to boil down to inconsistency with how fugit deals with strings including a % syntax.

## How to reproduce

The simplest piece of code that reproduces the issue, for example:
[code]

## Expected behaviour

My understanding is,

[2022-04-01 20:36] jmettraux commented on #68
[code]

Thanks for reporting that. I will fix it.

[2022-04-01 21:25] jmettraux commented on #68
I will make sure `Fugit::Cron#to_cron_s` is correct for other uses of `%` and of `#`, eventually fix, and then release 1.5.3.

[2022-04-02 00:43] jmettraux commented on #68
Nota bene:

[code]

`Fugit.parse` should reject `"0 13 * * 3#2#0"` and return `nil`. `Fugit.do_parse` should raise an error.

[2022-04-02 01:11] jmettraux opened #69 "Tighten `Fugit.parse`"
As seen indirectly in gh-68:

[code]

`Fugit.parse` should reject `"0 13 * * 3#2#0"` and return `nil`. `Fugit.do_parse` should raise an error.

[2022-04-02 01:12] jmettraux commented on #68
Closing. Thanks again for reporting. I will work on gh-69 and then release 1.5.3 with the fix for your issue. If there is anything else here, feel free to comment.

[2022-04-02 01:12] #68 closed

[2022-04-02 02:26] jmettraux commented on #69
Forget it. Don't rock the boat.

[code]

[2022-04-02 02:26] #69 closed

[2022-04-02 02:31] jmettraux commented on #68
fugit 1.5.3 out https://rubygems.org/gems/fugit/versions/1.5.3

Thanks!

[2022-04-04 07:48] lstrzebinczyk commented on #68
[code]

For a quick check, it seems to work! Awesome work, and a quick response. Thank you very much!

[2022-04-04 07:50] jmettraux commented on #68
You're welcome!

[2022-04-08 21:22] jmettraux opened #70 "Fugit.parse_cronish(str) and .do_parse_cronish(str)"
A combo of `Fugit.parse_cron` and `Fugit.parse_nat` that returns a `Fugit;:Cron` instance (or nil).

To cover the case at https://github.com/ondrejbartas/sidekiq-cron/pull/312

[2022-08-23 02:19] jjb opened #74 "strip before parsing?"
## Issue description

it looks like a leading space makes the parser crash. works: `"45 5 * * sun"` breaks: `" 45 5 * * sun"`. could fugit be changed to simply strip the string before parsing?

## How to reproduce

[code]

## Error and error backtrace (if any)

[code]

## Expected behaviour

cron string to parse without error

## Context

ruby-clock (0.8.0.rc3)
rufus-scheduler (3.8.0)
fugit (1.5.2

[2022-08-23 02:20] jmettraux commented on #74
OK, I will do it then.

[2022-08-23 07:48] jmettraux commented on #74
Hello @jjb please tell me if those changes are OK and/or if you have further suggestions/feedback. Once it's all good, I'll release fugit 1.6.0.

Thanks for reporting this inconsistency!

[2022-08-25 02:21] #74 closed

[2022-08-25 04:53] jjb commented on #74
Wow, nice! Sorry for not responding earlier, I need to adjust my github notifications apparently.

Thanks!

[2022-08-25 04:54] jmettraux commented on #74
You're welcome!

[2022-08-25 14:01] n-gb opened #75 "Fugit::Cron#next_time works incorrectly with "every second day" and "mon-fri" combo"
## Issue description

I've noticed that `0 0 */2 * 1-5` doesn't work as expected - it seems to ignore the "every second day" cron part

## How to reproduce

[code]
produces:

[code]

## Expected behaviour

[code]

## Context

Please replace the content of this section with the output of the following commands:
[code]
## Additional context

None

[2022-08-25 20:56] jmettraux commented on #75
Hello,

please read https://github.com/floraison/fugit#the-first-monday-of-the-month

It's counter intuitive, but when both day-of-month and day-of-week are specified, they're ORed, not ANDed. Fugit works correctly.

Kind regards.

[2022-08-25 20:56] #75 closed

[2022-08-26 13:40] n-gb commented on #75
Thank you, @jmettraux !

[2022-09-13 13:29] yob opened #76 "Behaviour change between 1.4.4 and 1.4.5"
## Issue description

We're working on upgrading our system from fugit 1.3.2 to 1.6.0. While doing so, we noticed the hash+modulo extension changed behaviour in the 1.4.5 release:

[code]

Interestingly, the only change in that release was #47, which was reported by a colleague of mine - @ticky. We're only now getting around to upgrading and bringing in all the latest fixes.

## Error and error ba

[2022-09-13 22:06] jmettraux commented on #76
Hello,

thanks for reporting that.

Double-checking for myself.

[code]

Timezone transition, according to [https://www.timeanddate.com/time/zone/australia/melbourne](https://www.timeanddate.com/time/zone/australia/melbourne) is on Sunday, 2nd of October at 2am.

[code]

OK, I need to get this calculation right. Stay tuned.

Meanwhile, wouldn't something like `"30 14 * * thu#last Australia/Melbour

[2022-09-13 23:15] yob commented on #76
Thanks for taking a look.

Yer, I assume that might work pretty well. In our case, for better or worse we're using fugit to parse cronlines for many thousands of customer controlled schedules so we don't have direct control over the format people choose.

The good news is only 0.4% of cronlines from our data set changed behaviour between `1.3.2` and `1.6.0`, and nearly all of them use `X%4+Y`. The

[2022-09-13 23:29] jmettraux opened #77 "be liberal with extra commas"
https://github.com/floraison/fugit/issues/76#issuecomment-1246043044

Postel law:

Accept trailing commas and `1,,2` extra commas.

[2022-09-14 00:47] #77 closed

[2022-09-14 00:49] jmettraux opened #78 "Implement the & cron modifier"
Which would change OR behaviour for days to a AND behaviour.

[2022-09-14 01:33] jmettraux commented on #76
[code]
Gives
[code]

gh-47 goes from

[code]

to

[code]

I want the results for pre gh-47, but the safety of gh-47. I think I will go with

[code]

Which is demonstrated above by the exploration code.

[2022-09-14 04:49] jmettraux commented on #64
ref gh-78

[2022-09-14 04:53] jmettraux commented on #78
Updated README https://github.com/floraison/fugit/blob/master/README.md#the-first-monday-of-the-month

[2022-09-14 04:53] #78 closed

[2022-09-14 05:02] jmettraux commented on #76
@yob unless you see a show stopper, I'll close and release 1.7.0 soon. Thanks!

[2022-09-14 13:34] yob commented on #76
Brilliant, thanks for the fast turnaround ❤️

I re-ran the current HEAD of main against our dataset and we're down to only 9 cronlines that changed behavior between 1.3.2 and 1.7.0 (pre release). All 9 look like bug fixes or intentional behavior changes, and definitely aren't related to this issue. Good to release I think!

For completeness, here's the 9 that changed behaviour:

## Behaviour chang

[2022-09-15 05:46] jmettraux commented on #76
Hello,

thanks for the detailed report. I am sticking with the changes in gh-43, gh-53, and gh-56. In my opinion, they make fugit "righter".

I've just released fugit 1.7.0, see https://rubygems.org/gems/fugit/versions/1.7.0

If there is anything wrong, please tell me.

Thanks again!

[2022-09-15 05:46] #76 closed

[2022-09-15 05:48] yob commented on #76
I agree.

Thanks!

[2022-09-20 10:12] JosephHalter opened #79 "Issue parsing 0/1 compared to * or */1"
## Issue description

These cron strings are supposed to be equivalent:
- [30 * * * *](https://elmah.io/tools/cron-parser/#30_*_*_*_*)
- [30 */1 * * *](https://elmah.io/tools/cron-parser/#30_*/1_*_*_*)
- [30 0/1 * * *](https://elmah.io/tools/cron-parser/#30_0/1_*_*_*)

the human readable expression is `At 30 minutes past the hour` for each.

However when combined with a timezone, it seems like the

[2022-09-20 11:06] jmettraux commented on #79
Hello,

for comparison:

* [30 * * * *](https://crontab.guru/#30_*_*_*_*)
* [30 */1 * * *](https://crontab.guru/#30_*/1_*_*_*)
* [30 0/1 * * *](https://crontab.guru/#30_0/1_*_*_*)

then in the UTC timezone:
[code]

and in the Tokyo timezone:
[code]

How so? In the two batch of tests I ran above, fugit gives equivalent results with and without a timezone given in the cron string.

[2022-09-20 11:11] jmettraux commented on #79
this is probably what you are trying to hint at, I see the problem, but it is not linked to the timezone.

[code]

[2022-09-20 19:25] JosephHalter commented on #79
You're correct indeed. Thank you for the very quick fix, I'll update the gem to the new version as soon as you release it 👍

[2022-09-20 21:38] jmettraux commented on #76
Hello again,

I had a second look at those cron strings linked to gh-56 via gh-79.

This will be the new behaviour:

* `0 0/4 * * *` => `0 */4 * * *`
* `0/30 * * * *` => `0-59/30 * * * *`
* `0/10 * * * 1-5 America/New_York` => `0-59/10 * * * 1-5 America/New_York`
* `0 4/12 * * *` => `0 4-23/12 * * *`
* `0 0/12 * * * -09:00` => `0 0-23/12 * * * -09:00`
* `30 7/4 * * *` => `30 7-23/4 * * *`

I will

[2022-09-21 00:45] jmettraux commented on #79
Just released fugit 1.7.1 https://rubygems.org/gems/fugit/versions/1.7.1

Thanks a lot!

[2022-09-21 00:45] #79 closed

[2022-09-23 01:16] jmettraux opened #80 "Introduce OpenBSD cron ~ notation"
[code]

[2022-11-03 00:06] ski-nine opened #81 "Fugit.parse incorrectly parsing am/pm"
## Issue description

When parsing a string with a time value where the "pm"  is not space delimited, the result is being parsed as a time in the morning.

Also, wrong result when parsing a string with a time value of "12:xx am".

## How to reproduce

PM Bug:

[code]

12 AM/PM Bug:
[code]

## Expected behaviour

PM Bug:

Either fix to return:
[code]

12 AM/PM Bug:
[code]

OR

Raise a parse excepti

[2022-11-03 00:11] jmettraux commented on #81
[code]

[2022-11-03 02:16] jmettraux commented on #81
@ski-nine

Regarding 12am and 12pm, please read https://en.wikipedia.org/wiki/12-hour_clock#Confusion_at_noon_and_midnight

I will most likely keep the current behaviour, but add "12 noon" and "12 midnight" for clarification.

[2022-11-03 02:25] ski-nine commented on #81
If not fixing then the behaviour should be documented in the main page because of the potential to cause problems.

[2022-11-03 02:47] jmettraux commented on #81
From my point of view, it is not "not fixing". Yes, I will document my decision, thanks for the suggestion.

[2022-11-03 05:21] jmettraux commented on #81
Just released [fugit 1.7.2](https://rubygems.org/gems/fugit/versions/1.7.2). Thanks for reporting those two issues.

[2022-11-03 05:21] #81 closed